<!DOCTYPE html>
<html>
<head>
<title>Marketplace</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body{
    margin:0;
    background:#f0f2f5;
    font-family:Arial;
}

.header{
    background:#1877f2;
    color:white;
    padding:18px;
    font-size:22px;
}

.product{
    background:white;
    margin:15px;
    padding:15px;
    border-radius:12px;
}

.product img{
    width:100%;
    border-radius:10px;
}
</style>
</head>
<body>

<div class="header">
    Marketplace
</div>

<div class="product">

    <img src="https://picsum.photos/500/300?phone">

    <h3>iPhone 14</h3>

    <p>₹45,000</p>

</div>

</body>
</html>
