<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<title>Notifications - Pathukkalam</title>

</head>

<body>

<div class="navbar">

    <div class="logo">PATHUKKALAM</div>

    <div class="menu">
        <a href="/">Home</a>
        <a href="/explore">Explore</a>
        <a href="/notifications">Alerts</a>
        <a href="/profile">Profile</a>
    </div>

</div>

<div class="feed">

<h2>Notifications</h2>

<div class="post-card">
    🔔 Arun liked your post.
</div>

<div class="post-card">
    🔔 Vijay started following you.
</div>

<div class="post-card">
    🔔 Kumar commented on your photo.
</div>

<div class="post-card">
    🔔 New trending topic available.
</div>

</div>

</body>
</html>
